<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Obrigado</title>
	</head>
	<body>
		<div data-gjs-type="div" data-gjs-name="Bloco" id="template-container">
			<div
				class="header"
				data-gjs-type="div"
				data-gjs-name="Bloco"
				custom-id="column-template"
			>
				<img
					data-gjs-type="image"
					class="gjs-plh-image*"
					src="https://img.freepik.com/psd-premium/emoji-mao-isolada_23-2150602117.jpg?w=826"
					alt=""
				/>
			</div>
			<div
				class="container"
				data-gjs-type="div"
				data-gjs-name="Bloco"
				id="template-wrapper"
			>
				<h1 data-gjs-highlightable="true" data-gjs-type="text">
					Assista ao vídeo para concluir seu cadastro e descobrir como receber
					20 horas de conteúdo sobre tráfego pago no seu email.
				</h1>

				<div class="container-video">
					<iframe
						width="100%"
						height="20rem"
						src="https://www.youtube.com/embed/VIDEO_ID"
						frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						data-gjs-type="video"
						allowfullscreen="allowfullscreen"
					></iframe>
				</div>

				<div
					class="actions"
					data-gjs-type="div"
					data-gjs-name="Bloco"
					custom-id="column-template"
				>
					<div
						class="action"
						data-gjs-type="div"
						data-gjs-name="Bloco"
						custom-id="column-template"
					>
						<h1
							data-gjs-highlightable="true"
							data-gjs-type="text"
							class="title-secundary"
						>
							JUNTE-SE AO CANAL NO TELEGRAM
						</h1>
						<p data-gjs-highlightable="true" data-gjs-type="text">
							Faça parte do nosso canal exclusivo no Telegram para receber os
							avisos e links das aulas diretamente no seu celular.
						</p>
						<a class="telegramButton">Acesse o Telegram</a>
					</div>
					<div
						class="action"
						data-gjs-type="div"
						data-gjs-name="Bloco"
						custom-id="column-template"
					>
						<h1
							data-gjs-highlightable="true"
							data-gjs-type="text"
							class="title-secundary"
						>
							INSCREVA-SE NO MEU CANAL DO YOUTUBE
						</h1>
						<p data-gjs-highlightable="true" data-gjs-type="text">
							Clique no botão abaixo para se inscrever e ser avisado pelo
							próprio YouTube quando a próxima aula começar.
						</p>
						<a
							class="youtubeButton"
							data-gjs-highlightable="true"
							data-gjs-type="link"
							target="_self"
							href=""
							>Acesse o Youtube</a
						>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
