<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fórmula de lançamento</title>
	</head>
	<body>
		<div
			class="mainWrapper"
			data-gjs-type="div"
			data-gjs-name="Bloco"
			data-gjs-name="Bloco"
			id="template-container"
		>
			<div
				class="headerWrapper"
				data-gjs-type="div"
				data-gjs-name="Bloco"
				custom-id="column-template"
			>
				<div
					class="header"
					data-gjs-type="div"
					data-gjs-name="Bloco"
					custom-id="column-template"
				>
					<img src="" alt="" data-gjs-type="image" />
					<h1 data-gjs-highlightable="true" data-gjs-type="text">
						AS VAGAS PARA A FÓRMULA DE <br />LANÇAMENTO ESTÃO ESGOTADAS.
					</h1>
					<p
						data-gjs-highlightable="true"
						data-gjs-type="text"
						class="advise-msg"
					>
						Cadastre o seu melhor email para ser avisado da próxima turma
					</p>
				</div>
				<form
					class="captureForm"
					data-gjs-highlightable="true"
					data-gjs-type="form"
					method="post"
				>
					<span data-gjs-highlightable="true" data-gjs-type="default">
						<input
							type="email"
							name="email"
							placeholder="Digite seu melhor email"
							required="true"
							data-gjs-type="input"
						/>
						<span
							data-gjs-highlightable="true"
							data-gjs-type="default"
							class="warning-email"
							>Campo obrigatório</span
						>
					</span>
					<span data-gjs-highlightable="true" data-gjs-type="default">
						<input
							type="text"
							name="whatsApp"
							maxlength="15"
							required="true"
							placeholder="(Opcional) DDD + Seu número de whatsapp"
							data-gjs-type="input"
						/>
						<span
							data-gjs-highlightable="true"
							data-gjs-type="default"
							class="warning-whatsApp"
							>Campo obrigatório</span
						>
					</span>
					<span data-gjs-highlightable="true" data-gjs-type="default">
						<button data-gjs-highlightable="true" type="button" id="buttonForm">
							<span
								data-gjs-removable="false"
								data-gjs-copyable="false"
								data-gjs-badgable="false"
								data-gjs-draggable="false"
								data-gjs-layerable="false"
								data-gjs-resizable="false"
								data-gjs-stylable="false"
								data-gjs-selectable="false"
								>QUERO SER AVISADO DA PRÓXIMA TURMA</span
							>
						</button>
					</span>
					<p>
						De acordo com as Leis 12.965/2014 e 13.709/2018, que regulam o uso
						da Internet e o tratamento de dados pessoais no Brasil, autorizo
						<br />
						Empresa a enviar notificações por e-mail ou outros meios e concordo
						com sua Política de Privacidade.
					</p>
					<div
						data-gjs-highlightable="true"
						id="itzg7"
						data-gjs-type="default"
						draggable="true"
					>
						<span
							data-gjs-highlightable="true"
							id="ikz4o"
							data-gjs-type="default"
							draggable="true"
							class="msg-success"
							>Formulário enviado com sucesso.</span
						><span
							data-gjs-highlightable="true"
							id="ijp9i"
							data-gjs-type="default"
							draggable="true"
							class="msg-error"
							>Houve um problema ao enviar o formulário, tente novamente.</span
						>
					</div>
				</form>
			</div>
			<div
				class="footerWrapper"
				data-gjs-type="div"
				data-gjs-name="Bloco"
				custom-id="column-template"
			>
				<div
					data-gjs-type="div"
					data-gjs-name="Bloco"
					custom-id="column-template"
				>
					<img
						src="https://t3.ftcdn.net/jpg/05/61/50/60/360_F_561506054_SrgknAymkdv2mM1TvPgrSaeAvvCGuj83.jpg"
						alt=""
						data-gjs-type="image"
					/>
					<div
						class="description"
						data-gjs-type="div"
						data-gjs-name="Bloco"
						custom-id="column-template"
					>
						<h1
							data-gjs-highlightable="true"
							data-gjs-type="text"
							class="title-secundary"
						>
							Quem é Empresa
						</h1>
						<p data-gjs-highlightable="true" data-gjs-type="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
							soluta qui, unde sequi, tenetur ipsum aut impedit non facere
							labore minus mollitia est ipsam. Voluptatum magni delectus ea
							quasi quidem.
						</p>
					</div>
				</div>
				<p>Dúvidas? Entre em contato atráves do: email@suporte.com</p>
			</div>
		</div>
	</body>
</html>
