<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container" data-gjs-type="div">
			<div class="headingWrapper" data-gjs-type="div">
				<div class="heading" data-gjs-type="div">
					<h1 data-gjs-highlightable="true" data-gjs-type="text">
						Security Services for your company
					</h1>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
						maxime ea culpa, repellat dolor dolorem</span
					>
					<div data-gjs-type="div">
						<button class="pricing">PRICING</button>
						<button class="solutions">SECURITY SOLUTIONS</button>
					</div>
				</div>
			</div>
			<div class="services" data-gjs-type="div">
				<h1 data-gjs-highlightable="true" data-gjs-type="text">
					Hacking Anything To Secure Everything
				</h1>
				<div class="wrapper" data-gjs-type="div">
					<div class="bgContainer" data-gjs-type="div">
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Service name here</span
						>
					</div>
					<div class="bgContainer" data-gjs-type="div">
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Service name here</span
						>
					</div>
					<div class="bgContainer" data-gjs-type="div">
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Service name here</span
						>
					</div>
					<div class="bgContainer" data-gjs-type="div">
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Service name here</span
						>
					</div>
					<div class="bgContainer" data-gjs-type="div">
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Service name here</span
						>
					</div>
				</div>
			</div>
			<div class="plansWrapper" data-gjs-type="div">
				<div class="plansMessage" data-gjs-type="div">
					<h1 data-gjs-highlightable="true" data-gjs-type="text">
						Maximize your security
					</h1>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</span
					>
				</div>
				<div class="plansDetails" data-gjs-type="div">
					<div class="plan" data-gjs-type="div">
						<h2 data-gjs-highlightable="true" data-gjs-type="text">
							Basic Security
						</h2>
						<div data-gjs-type="div">
							<h1
								class="planPrice"
								data-gjs-highlightable="true"
								data-gjs-type="text"
							>
								$25.99
							</h1>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>Monthly</span
							>
						</div>
						<div class="plangains" data-gjs-type="div">
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>24/7 Inicident Monitoring</span
							>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>Response Recommendations</span
							>
						</div>
						<button data-gjs-highlightable="true" data-gjs-type="text">
							BUY NOW!
						</button>
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Duis convallis convallis</span
						>
					</div>
					<div class="plan" data-gjs-type="div">
						<h2 data-gjs-highlightable="true" data-gjs-type="text">
							Advance Security
						</h2>
						<div data-gjs-type="div">
							<h1
								class="planPrice"
								data-gjs-highlightable="true"
								data-gjs-type="text"
							>
								$32.99
							</h1>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>Monthly</span
							>
						</div>
						<div class="plangains" data-gjs-type="div">
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>24/7 Inicident Monitoring</span
							>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>Response Recommendations</span
							>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>Orci Dapibus Ultrices In Iaculis Nunc</span
							>
						</div>
						<button>BUY NOW!</button>
						<span data-gjs-highlightable="true" data-gjs-type="text"
							>Duis convallis convallis tellus id interdum velit laoreet
							id.</span
						>
					</div>
				</div>
			</div>
			<div
				data-gjs-type="div"
				style="display: flex; flex-direction: column; padding: 5rem 0"
			>
				<h1 data-gjs-highlightable="true" data-gjs-type="text">
					Our goal is to detect and prevent attacks to your company or business
					data.
				</h1>
			</div>
			<div class="goals" data-gjs-type="div">
				<div class="goal" data-gjs-type="div">
					<strong data-gjs-highlightable="true" data-gjs-type="text"
						>Security Metrics</strong
					>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
						tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span
					>
					<button>More</button>
				</div>
				<div class="goal" data-gjs-type="div">
					<strong data-gjs-highlightable="true" data-gjs-type="text"
						>Security Support</strong
					>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
						tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span
					>
					<button>More</button>
				</div>
				<div class="goal" data-gjs-type="div">
					<strong data-gjs-highlightable="true" data-gjs-type="text"
						>Data Security</strong
					>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
						tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span
					>
					<button>More</button>
				</div>
				<div class="goal" data-gjs-type="div">
					<strong data-gjs-highlightable="true" data-gjs-type="text"
						>Security Safety</strong
					>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
						tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span
					>
					<button>More</button>
				</div>
			</div>
			<div
				style="display: flex; flex-direction: column; padding: 5rem 0"
				data-gjs-type="div"
			>
				<h1 data-gjs-highlightable="true" data-gjs-type="text">
					Happy customers
				</h1>
				<span data-gjs-highlightable="true" data-gjs-type="text"
					>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
					reiciendis accusamus, minus.</span
				>
			</div>
			<div class="contact" data-gjs-type="div">
				<div class="description" data-gjs-type="div">
					<h1 data-gjs-highlightable="true" data-gjs-type="text">
						Identify, understand & respond to attacks faster.
					</h1>
					<span data-gjs-highlightable="true" data-gjs-type="text"
						>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua</span
					>
					<div
						style="display: flex; gap: 2rem; margin-top: 2rem"
						data-gjs-type="div"
					>
						<div class="info" data-gjs-type="div">
							<strong data-gjs-highlightable="true" data-gjs-type="text"
								>EMAIL</strong
							>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>name@company.com</span
							>
						</div>
						<div class="info" data-gjs-type="div">
							<strong data-gjs-highlightable="true" data-gjs-type="text"
								>PHONE</strong
							>
							<span data-gjs-highlightable="true" data-gjs-type="text"
								>+01 11 2222 3333</span
							>
						</div>
					</div>
				</div>
				<form
					data-gjs-highlightable="true"
					data-gjs-type="form"
					method="post"
					class="formWrapper"
				>
					<p data-gjs-highlightable="true" data-gjs-type="text">
						Big enough to serve you, small enough to know you.
					</p>
					<p data-gjs-highlightable="true" data-gjs-type="text">
						Amet mauris commodo quis imperdiet massa. Nulla at volutpat diam
						ut.<br />
						Dui faucibus in ornare quam viverra orci sagittis.
					</p>
					<span
						data-gjs-highlightable="true"
						data-gjs-type="default"
						draggable="false"
					>
						<label
							data-gjs-highlightable="true"
							data-gjs-type="label"
							draggable="false"
							>Name</label
						>
						<input
							data-gjs-highlightable="true"
							data-gjs-type="input"
							draggable="false"
							type="text"
							required="true"
							name="name"
						/>
					</span>
					<span
						data-gjs-highlightable="true"
						data-gjs-type="default"
						draggable="false"
					>
						<label
							data-gjs-highlightable="true"
							data-gjs-type="label"
							draggable="false"
							>Email</label
						>
						<input
							data-gjs-highlightable="true"
							data-gjs-type="input"
							draggable="false"
							type="email"
							required="true"
							name="email"
						/>
					</span>
					<span
						data-gjs-highlightable="true"
						data-gjs-type="default"
						draggable="false"
					>
						<label
							data-gjs-highlightable="true"
							data-gjs-type="label"
							draggable="false"
							>WhatsApp</label
						>
						<input
							data-gjs-highlightable="true"
							data-gjs-type="input"
							draggable="false"
							type="text"
							required="true"
							name="whatsApp"
							maxlength="15"
						/>
					</span>

					<span
						data-gjs-highlightable="true"
						data-gjs-type="default"
						draggable="false"
					>
						<button
							data-gjs-highlightable="true"
							id="buttonForm"
							data-gjs-type="button"
							draggable="false"
							type="button"
						>
							Request a demo
						</button>
					</span>
				</form>
			</div>
		</div>
	</body>
</html>
